<div id="div-cover">
    <div id="h1-and-lang">
        <h1>Gabardino</h1>
        <div id="lang" class="hover">
            <a href="lang">Es/En</a>
        </div>
    </div>
    <div id="img-and-btns-about">
        <img id="img-cover-about" src="./img/Gabardino-photoBySaraRamos.jpg" alt="Gabardino_bySaraRamos">
        <div id="text-about">
            <h2>
                {{{aboutH2}}}
            </h2>
            <p>
                {{{aboutP}}}
            </p>
        </div>
        <div id="menu" class="hover">
            <a class="btn" href="./works">Música</a>
            <a class="btn" href="./gallery">Galería</a>
            <a class="btn" href="./">Inicio</a>
        </div>
    </div>
</div>