<div id="div-cover">
    <div id="h1-and-lang">
        <h1>Gabardino</h1>
        <div id="lang" class="hover">
            <a href="lang">Es/En</a>
        </div>
    </div>
    <div id="img-and-btns-works">
        <div id="gallery">
            <img id="img-cover-works1" src="./img/Gabardino_Bohemia.jpg" alt="Gabardino_Bohemia">
            <img id="img-cover-works2" src="./img/Gabardino_BandAcoustic.jpg" alt="Gabardino_BandAcoustic">
            <img id="img-cover-works3" src="./img/Gabardino_Live1.jpg" alt="Gabardino_Live1">
            <img id="img-cover-works4" src="./img/Gabardino_Live2.jpg" alt="Gabardino_Live2">
            <img id="img-cover-works5" src="./img/Gabardino_Live3.jpg" alt="Gabardino_Live3">
            <img id="img-cover-works6" src="./img/Gabardino_Live4.jpg" alt="Gabardino_Live4">
            <img id="img-cover-works7" src="./img/Gabardino_Live5.jpg" alt="Gabardino_Live5">
            <img id="img-cover-works8" src="./img/Gabardino_Field.jpg" alt="Gabardino_Field">
        </div>
        <div id="menu" class="hover">
            <a class="btn" href="./">Inicio</a>
            <a class="btn" href="./works">Música</a>
            <a class="btn" href="./about">Quién es</a>
        </div>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img1 = document.getElementById("img-cover-works1");
    var modalImg1 = document.getElementById("img01");
    img1.onclick = function(){
        modal.style.display = "block";
        modalImg1.src = this.src;
        modalImg1.style.position= "relative";
        modalImg1.style.margin= "0 auto";
        modalImg1.style.width= "100vw";
        modalImg1.style.maxWidth= "1080px";
        modalImg1.style.maxHeight= "1920px";
        modalImg1.style.width= "calc(100vh * (16/9))";
    }
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img2 = document.getElementById("img-cover-works2");
    var modalImg2 = document.getElementById("img01");
    img2.onclick = function(){
        modal.style.display = "block";
        modalImg2.src = this.src;
        modalImg2.style.position= "relative";
        modalImg2.style.margin= "0 auto";
        modalImg2.style.width= "100vw";
        modalImg2.style.maxWidth= "1080px";
        modalImg2.style.maxHeight= "1920px";
        modalImg2.style.width= "calc(100vh * (16/9))";
    }
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img3 = document.getElementById("img-cover-works3");
    var modalImg3 = document.getElementById("img01");
    img3.onclick = function(){
        modal.style.display = "block";
        modalImg3.src = this.src;
        modalImg3.style.position= "relative";
        modalImg3.style.margin= "0 auto";
        modalImg3.style.width= "100vw";
        modalImg3.style.maxWidth= "1080px";
        modalImg3.style.maxHeight= "1920px";
        modalImg3.style.width= "calc(100vh * (16/9))";
    }
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img4 = document.getElementById("img-cover-works4");
    var modalImg4 = document.getElementById("img01");
    img4.onclick = function(){
        modal.style.display = "block";
        modalImg4.src = this.src;
        modalImg4.style.position= "relative";
        modalImg4.style.margin= "0 auto";
        modalImg4.style.width= "100vw";
        modalImg4.style.maxWidth= "1080px";
        modalImg4.style.maxHeight= "1920px";
        modalImg4.style.width= "calc(100vh * (16/9))";
    }
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img5 = document.getElementById("img-cover-works5");
    var modalImg5 = document.getElementById("img01");
    img5.onclick = function(){
        modal.style.display = "block";
        modalImg5.src = this.src;
        modalImg5.style.position= "relative";
        modalImg5.style.margin= "0 auto";
        modalImg5.style.width= "100vw";
        modalImg5.style.maxWidth= "1080px";
        modalImg5.style.maxHeight= "1920px";
        modalImg5.style.width= "calc(100vh * (16/9))";
    }
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img6 = document.getElementById("img-cover-works6");
    var modalImg6 = document.getElementById("img01");
    img6.onclick = function(){
        modal.style.display = "block";
        modalImg6.src = this.src;
        modalImg6.style.position= "relative";
        modalImg6.style.margin= "0 auto";
        modalImg6.style.width= "100vw";
        modalImg6.style.maxWidth= "1080px";
        modalImg6.style.maxHeight= "1920px";
        modalImg6.style.width= "calc(100vh * (16/9))";
    }
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img7 = document.getElementById("img-cover-works7");
    var modalImg7 = document.getElementById("img01");
    img7.onclick = function(){
        modal.style.display = "block";
        modalImg7.src = this.src;
        modalImg7.style.position= "relative";
        modalImg7.style.margin= "0 auto";
        modalImg7.style.width= "100vw";
        modalImg7.style.maxWidth= "1080px";
        modalImg7.style.maxHeight= "1920px";
        modalImg7.style.width= "calc(100vh * (16/9))";
    }
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img8 = document.getElementById("img-cover-works8");
    var modalImg8 = document.getElementById("img01");
    img8.onclick = function(){
        modal.style.display = "block";
        modalImg8.src = this.src;
        modalImg8.style.position= "relative";
        modalImg8.style.margin= "0 auto";
        modalImg8.style.width= "100vw";
        modalImg8.style.maxWidth= "1080px";
        modalImg8.style.maxHeight= "1920px";
        modalImg8.style.width= "calc(100vh * (16/9))";
    }
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
        modal.style.display = "none";
    }
</script>