<div id="div-phrase">
    <img id="phrase" src="./img/Gabardino_Phrase.png" alt="Gabardino_Phrase">
</div>
<div id="div-cover">
    <div id="h1-and-lang">
        <h1>Gabardino</h1>
        <div id="lang" class="hover">
            <a href="lang">Es/En</a>
        </div>
    </div>
    <div id="img-and-btns">
        <img id="img-cover" src="./img/Gabardino_MainCover.jpeg" alt="Gabardino_Phrase">
        <div id="menu" class="hover">
            <a class="btn" href="./about">Quién es</a>
            <a class="btn" href="./works">Música</a>
            <a class="btn" href="./gallery">Galería</a>
        </div>
    </div>
</div>