<div id="div-cover">
    <div id="h1-and-lang">
        <h1>Gabardino</h1>
        <div id="lang" class="hover">
            <a href="lang">Es/En</a>
        </div>
    </div>
    <div id="img-and-btns-works">
        <iframe width="100%" height="800" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/278986603&color=%23ffae00&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/gabardinosalvaje" title="Gabardino" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · </div>
        <div id="album-text-works">
            <img id="img-cover-works" src="https://i1.sndcdn.com/artworks-000195593334-akzx8z-t500x500.jpg" alt="Gabardino_bySaraRamos">
            <p>
                &ensp;&ensp;&ensp;&ensp;<b>"Por Caminos Rotos"</b> es el álbum de 2016 de Gabardino. El álbum presenta una mezcla de estilos tradicionales y modernos, combinando elementos del flamenco y la música rock para crear un sonido único. Las letras ahondan en temas de amor, desamor y <b>las luchas de la vida</b> cotidiana, entregados con emoción cruda por la poderosa voz de Gabardino. Con sus melodías pegadizas y sus potentes interpretaciones, "Por Caminos Rotos" es un álbum que muestra <b>el talento de Gabardino como músico y compositor</b>. Es un álbum imprescindible para los aficionados al la música de autor y para cualquiera que busque <b>una experiencia emocional y poderosa</b>.
            </p>
        </div>
        <div id="text-about">
            <h2>
                {{{aboutH2}}}
            </h2>
            <p>
                {{{aboutP}}}
            </p>
        </div>
        <div id="menu" class="hover">
            <a class="btn" href="./gallery">Galería</a>
            <a class="btn" href="./works">Música</a>
            <a class="btn" href="./">Inicio</a>
        </div>
    </div>
</div>